*{
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
     
    color: lightslategrey;
    background-color:darkgray;
    min-height: 100vh;
}
h1{

   color: darkblue;
   font-weight: 300;
   margin: bottom 1rem;
}
input{
    border: none;
}
#inputtask{
    background-color: lightseagreen;
    font-size: small;
    border-radius: 1 rem;
    margin-right: 1 rem;
    padding: 1 rem;
    width: 300px;

}
#addBtn{
    width: 25%;
    color: pink;

}
/*styling the list*/
ul li{
    cursor: pointer;
    background: #eee;
    padding: 12px 8px 12px 40px;
    font-size: 18px;
    transition: 0.2s;
    position: relative;
}
/* when clicked on add a background color and strike through*/
ul li.checked{
    background-color: cadetblue;
    color: hotpink;
    text-decoration: line-through;

}
/*Darker background -color on hover*/
ul li:hover{
    background: #add;
}
.close{
    position: absolute;
    right: 0;
    left: 0;
}